<div class="col-xs-8 head">
  <hr>
  <p class="warn"> {{ errors }} {{ errmsg }}</p>
  <form class="form-horizontal" #heroForm="ngForm" (submit)="registerSubmit()">
    <div class="form-group">
      <label for="firstname" class="control-label col-sm-4">*First Name:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="firstname" required  maxlength="24" [(ngModel)]="user.firstname"
          #firstname='ngModel'>
        <span *ngIf="firstname.errors && (firstname.dirty || firstname.touched)" class="alert">
          <span class="warn" [hidden]="!firstname.errors.required">First Name is required.</span>
          <span class="warn" [hidden]="!firstname.errors.minlength">First Name must be at least 4 characters long.</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="lastname" class="control-label col-sm-4">*Last Name:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="lastname" required minlength="4" maxlength="24" [(ngModel)]="user.lastname"
          #lastname='ngModel'>
        <span *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" class="alert">
          <span class="warn" [hidden]="!lastname.errors.required">Last Name is required.</span>
          <span class="warn" [hidden]="!lastname.errors.minlength">Last Name must be at least 4 characters long.</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="control-label col-sm-4">*Email address:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="email" required minlength="4" pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$"
          [(ngModel)]='user.email' #email="ngModel">
        <span *ngIf="email.errors && (email.dirty || email.touched)" class="alert">
          <span class="warn" [hidden]="!email.errors.required">Email is required.</span>
          <span class="warn" [hidden]="!email.errors.pattern">Invalid Email.</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd" class="control-label col-sm-4">*Password:</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" name="password" required pattern="^([a-zA-Z0-9@*#]{8,24})$" [(ngModel)]="user.password"
          #password='ngModel'>
        <span *ngIf="password.errors && (password.dirty || password.touched)" class="alert">
          <span class="warn" [hidden]="!password.errors.required">Password is required.</span>
          <span class="warn" [hidden]="!password.errors.pattern">Invalid password.</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="confirm_pwd" class="control-label col-sm-4">*Confirm Password:</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" name="confirm" required [(ngModel)]="user.confirmPwd" #confirm='ngModel'>
        <div *ngIf="(user.password !== user.confirm) && (confirm.dirty || confirm.touched)" class="alert">
          <!-- <span class="warn" [hidden]="checkPwd(user.password, user.confirm)"></span> -->
          <span class="warn" *ngIf="(user.password !== user.confirmPwd)">Password Mismatch!</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class=" control-label col-sm-4"></div>
      <div class="col-sm-8">
        <input type="Submit" [disabled]="!heroForm.form.valid" class="btn btn-primary col-sm-12">
      </div>
    </div>
  </form>
</div>
